.App {
    padding: 30px;
}

.puzzleGrid {
    /* margin: 30px auto; */
    position: relative
}

.gridPixel {
    position: absolute;
    text-align: right;
    color: white;
    border: 1px solid #fff;
    transition: all 0.1s;
    cursor: pointer;
}

.leftPanel {
    width: 33%;
}

.logoImg {
    width: 50%;
    margin: 30% auto 0 auto;
}

.leftText {
    border-radius: 10px;
    padding: 40px 60px 40px 60px;
    font-size: 1.1em;
    font-weight: 500;
    height: 400px;
    margin: 10% auto;
    text-align: center;
    width: 85%;
    color: white;
    background-color: #008DC9;
}

.tickMark {
    width: 40%;
    height: 70px;
    background-color: #008DC9;
    border-radius: 35px;
    margin: 30px auto;
}

.timerDiv {
    width: 60%;
    text-align: center;
    margin: 30px auto;
    font-size: 5em;
    color: #86C568;
    font-weight: 500;
}

.rightPanel {
    background-color: #F5F6F7;
    border-radius: 10px;
    height: 95vh;
}

.selectedPuzzle {
    margin: 50px 50px;
}

.otherPuzzles {
    margin: 10% auto;
}

.otherPuzzle {
    margin: 35px auto;
    width: 150px;
}

.otherPuzzle img {
    border-radius: 15px;
}

.winRightPanel {
    background-color: #008DC9;
    border-radius: 10px;
    position: relative;
    padding: 0px;
    height: 95vh;
}

.winMessage {
    color: white;
    text-align: center;
    margin: 20% auto 0 auto;
    font-size: 3em;
    font-weight: 500;
    text-transform: uppercase;
}

.winTickMark {
    width: 250px;
    height: 80px;
    background-color: #87C569;
    border-radius: 40px;
    margin: 10px auto;
}

.bottomButton {
    background-color: #007699;
    color: white;
    text-align: center;
    font-size: 2.2em;
    font-weight: 600;
    padding-top: 25px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    height: 110px;
    border-radius: 0 0 10px 10px;
    left: 0px;
}

.winScore {
    text-align: center;
    font-size: 5em;
    color: #87C569;
    font-weight: 700;
    margin-top: -15px;
}