.App {
    padding: 30px;
}

.puzzleGrid {
    /* margin: 30px auto; */
    position: relative
}

.gridPixel {
    position: absolute;
    text-align: right;
    color: white;
    border: 1px solid #fff;
    transition: all 0.1s;
    cursor: pointer;
}

.leftPanel {
    width: 33%;
}

.logoImg {
    width: 50%;
    margin: 30% auto 0 auto;
}

.leftText {
    border-radius: 10px;
    padding: 40px 60px 40px 60px;
    font-size: 1.1em;
    font-weight: 500;
    height: 400px;
    margin: 10% auto;
    text-align: center;
    width: 85%;
    color: white;
    background-color: #008DC9;
}

.tickMark {
    width: 40%;
    height: 70px;
    background-color: #008DC9;
    border-radius: 35px;
    margin: 30px auto;
}

.timerDiv {
    width: 60%;
    text-align: center;
    margin: 30px auto;
    font-size: 5em;
    color: #86C568;
    font-weight: 500;
}

.rightPanel {
    background-color: #F5F6F7;
    border-radius: 10px;
}

.selectedPuzzle {
    margin: 50px 50px;
}

.otherPuzzles {
    margin: 10% auto;
}

.otherPuzzle {
    margin: 35px auto;
    width: 150px;
}

.otherPuzzle img {
    border-radius: 15px;
}